<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.car.mapper.ChargeTokenMapper">
	
	<insert id="add" parameterType="String">
		INSERT INTO zxj_charge_token(token,create_date) values (#{token},now())
	</insert>
	
	<select id="queryLast" resultType="String">
		select token from zxj_charge_token order by create_date desc limit 0,1 
	</select>
	
</mapper>