<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.car.mapper.CouponRecordMapper">
	<sql id="Base_Column_List">
		id,cpn_id,mem_id,get_date,expired_date,used,order_id,enabled
	</sql>
	
	<insert id="add" parameterType="com.cocosh.car.model.CouponRecord">
		insert into zxj_coupon_record(id,cpn_id,mem_id,get_date,expired_date,used,order_id,enabled)
		values(#{id},#{cpn_id},#{mem_id},#{get_date},#{expired_date},#{used},#{order_id},#{enabled})
	</insert>
	
	<delete id="del">
		delete from zxj_coupon_record where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</delete>
	
	<update id="update" parameterType="com.cocosh.car.model.CouponRecord">
		update zxj_coupon_record 
		<set>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(cpn_id)">cpn_id=#{cpn_id},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(mem_id)">mem_id=#{mem_id},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(get_date)">get_date=#{get_date},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(expired_date)">expired_date=#{expired_date},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(used)">used=#{used},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(order_id)">order_id=#{order_id},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(enabled)">enabled=#{enabled},</if>
		</set> 
		,modify_date=now() where id=#{id}
	</update>
	
	<select id="queryPage" parameterType="vo" resultType="com.cocosh.car.model.CouponRecord">
		select 
		<include refid="Base_Column_List" /> 
		from zxj_coupon_record 
		<where>
			<if test="keywords!=null and keywords!=''">name like '%${keywords}%'</if>
		</where>
		<choose>
			<when test="orderField !=null and orderField !=''">
				 order by #{orderField} 
				 <if test="orderDirection != null and orderDirection != ''">#{orderDirection}</if>
			</when>
			<otherwise>
				 order by create_date desc 
			</otherwise>
		</choose>
	</select>
	
	<select id="queryById" parameterType="String" resultType="com.cocosh.car.model.CouponRecord">
		select 
		<include refid="Base_Column_List" /> 
		from zxj_coupon_record where id=#{id}
	</select>
	
	<select id="queryAllValid" parameterType="com.cocosh.car.model.CouponRecord" resultType="com.cocosh.car.model.CouponRecord">
		SELECT r.cpn_id,r.expired_date,c.name cpn_name,c.amount cpn_amount,c.full_amount FROM zxj_coupon_record r LEFT JOIN zxj_coupon c ON r.cpn_id=c.id 
		WHERE r.mem_id=#{mem_id} and r.used=0 AND <![CDATA[ NOW()<=r.expired_date 
		AND c.full_amount<=#{full_amount} ]]> AND c.enabled=0
	</select>
	
</mapper>