<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.car.mapper.DotMapper">
	<sql id="Base_Column_List">
		id,number,name,address,tel,longitude,latitude,gallerys,province_id,province_name,city_id,city_name,region_id,region_name,start_time,end_time,enabled,create_date,modify_date
	</sql>
	
	<insert id="add" parameterType="com.cocosh.car.model.Dot">
		insert into zxj_dot(id,number,name,address,tel,longitude,latitude,gallerys,province_id,province_name,city_id,city_name,region_id,region_name,start_time,end_time,enabled,create_date,modify_date)
		values(#{id},#{number},#{name},#{address},#{tel},#{longitude},#{latitude},#{gallerys},#{province_id},#{province_name},#{city_id},#{city_name},#{region_id},#{region_name},#{start_time},#{end_time},0,now(),now())
	</insert>
	
	<parameterMap type="Map" id="delParms">
		<parameter property="del_flg"/>
		<parameter property="del_ids"/>
	</parameterMap>
	<update id="del" parameterMap="delParms">
		update zxj_dot set enabled=#{del_flg} where id in 
		<foreach item="item" index="index" collection="del_ids" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</update>
	
	<update id="update" parameterType="com.cocosh.car.model.Dot">
		update zxj_dot 
		<set>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(number)">number=#{number},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(name)">name=#{name},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(address)">address=#{address},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(tel)">tel=#{tel},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(longitude)">longitude=#{longitude},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(latitude)">latitude=#{latitude},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(gallerys)">gallerys=#{gallerys},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(province_id)">province_id=#{province_id},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(province_name)">province_name=#{province_name},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(city_id)">city_id=#{city_id},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(city_name)">city_name=#{city_name},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(region_id)">region_id=#{region_id},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(region_name)">region_name=#{region_name},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(start_time)">start_time=#{start_time},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(end_time)">end_time=#{end_time},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(enabled)">enabled=#{enabled},</if>
		</set> 
		,modify_date=now() where id=#{id}
	</update>
	
	<select id="queryPage" parameterType="vo" resultType="com.cocosh.car.model.Dot">
		select 
		<include refid="Base_Column_List" /> 
		from zxj_dot 
		<where>
			<if test="keywords!=null and keywords!=''">(number=#{keywords} or name like '%${keywords}%')</if>
		</where>
		<choose>
			<when test="orderField !=null and orderField !=''">
				 order by #{orderField} 
				 <if test="orderDirection != null and orderDirection != ''">#{orderDirection}</if>
			</when>
			<otherwise>
				 order by create_date desc 
			</otherwise>
		</choose>
	</select>
	
	<select id="queryPageApp" parameterType="vo" resultType="com.cocosh.car.model.Dot">
		SELECT id,name,address,longitude,latitude,ROUND(6378.137*2*ASIN(SQRT(POW(SIN((#{latitude}*PI()/180-latitude*PI()/180)/2),2)+
		COS(#{latitude}*PI()/180)*COS(latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-longitude*PI()/180)/2),2))),2) as distances 
		from zxj_dot  where enabled=0 
		<if test="keywords!=null and keywords!=''">and (number=#{keywords} or name like '%${keywords}%')</if>
		<choose>
			<when test="orderField !=null and orderField !=''">
				 order by ${orderField} 
				 <if test="orderDirection != null and orderDirection != ''">#{orderDirection}</if>
			</when>
			<otherwise>
				 order by distances asc
			</otherwise>
		</choose>
	</select>
	
	<select id="queryById" parameterType="String" resultType="com.cocosh.car.model.Dot">
		select 
		<include refid="Base_Column_List" /> 
		from zxj_dot where id=#{id}
	</select>
	
	<select id="queryByAll" resultType="com.cocosh.car.model.Dot">
		select 
		<include refid="Base_Column_List" /> 
		from zxj_dot where enabled=0 order by create_date desc
	</select>
	
</mapper>