<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.sys.mapper.NewsMapper">
	<sql id="Base_Column_List">
		id,title,image,descript,content,author,type,enabled,create_date,modify_date
	</sql>
	
	<insert id="add" parameterType="com.cocosh.sys.model.News">
		insert into sys_news(id,title,image,descript,content,author,type,enabled,create_date,modify_date)
		values(#{id},#{title},#{image},#{descript},#{content},#{author},#{type},0,now(),now())
	</insert>
	
	<parameterMap type="Map" id="delParms">
		<parameter property="del_flg"/>
		<parameter property="del_ids"/>
	</parameterMap>
	<update id="del" parameterMap="delParms">
		update sys_news set enabled=#{del_flg} where id in 
		<foreach item="item" index="index" collection="del_ids" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</update>
	
	<update id="update" parameterType="com.cocosh.sys.model.News">
		update sys_news 
		<set>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(title)">title=#{title},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(image)">image=#{image},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(descript)">descript=#{descript},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(content)">content=#{content},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(author)">author=#{author},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(type)">type=#{type},</if>
		</set> 
		,modify_date=now() where id=#{id}
	</update>
	
	<select id="queryPage" parameterType="vo" resultType="com.cocosh.sys.model.News">
		select 
		<include refid="Base_Column_List" /> 
		from sys_news 
		<where>
			<if test="keywords!=null and keywords!=''">name like '%${keywords}%'</if>
			<if test="type!=null and type!=''">and type=#{type}</if>
			<if test="enabled!=null and enabled!=''">and enabled=#{enabled}</if>
		</where>
		<choose>
			<when test="orderField !=null and orderField !=''">
				 order by ${orderField} 
				 <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by create_date desc 
			</otherwise>
		</choose>
	</select>
	
	<select id="queryById" parameterType="String" resultType="com.cocosh.sys.model.News">
		select 
		<include refid="Base_Column_List" /> 
		from sys_news where id=#{id}
	</select>
	
</mapper>