<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.sys.mapper.RegionsMapper">

	<select id="queryByPId" parameterType="String" resultType="com.cocosh.sys.model.Regions">
		select id,name from sys_regions where pid=#{pid}
	</select>
	
</mapper>