<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.sys.mapper.VersionMapper">
	<sql id="Base_Column_List">
		id,version,descript,url,type,must,create_date,modify_date
	</sql>
	
	<insert id="add" parameterType="com.cocosh.sys.model.Version">
		insert into sys_version(id,version,descript,url,type,must,create_date,modify_date)
		values(#{id},#{version},#{descript},#{url},#{type},#{must},now(),now())
	</insert>
	
	<delete id="del">
		delete from sys_version where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</delete>
	
	<update id="update" parameterType="com.cocosh.sys.model.Version">
		update sys_version 
		<set>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(version)">version=#{version},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(descript)">descript=#{descript},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(url)">url=#{url},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(type)">type=#{type},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(must)">must=#{must},</if>
		</set> 
		,modify_date=now() where id=#{id}
	</update>
	
	<select id="queryPage" parameterType="vo" resultType="com.cocosh.sys.model.Version">
		select 
		<include refid="Base_Column_List" /> 
		from sys_version 
		<where>
			<if test="keywords!=null and keywords!=''">(version=#{keywords} or descript like '%${keywords}%')</if>
			<if test="type!=null and type!=''">and type=#{type}</if>
		</where>
		<choose>
			<when test="orderField !=null and orderField !=''">
				 order by ${orderField} 
				 <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by create_date desc 
			</otherwise>
		</choose>
	</select>
	
	<select id="queryById" parameterType="String" resultType="com.cocosh.sys.model.Version">
		select 
		<include refid="Base_Column_List" /> 
		from sys_version where id=#{id}
	</select>
	
	<select id="queryLast" resultType="com.cocosh.sys.model.Version">
		select 
		<include refid="Base_Column_List" /> 
		from sys_version order by create_date desc limit 0,1
	</select>
	
	<select id="queryLastByType" parameterType="String" resultType="com.cocosh.sys.model.Version">
		select 
		<include refid="Base_Column_List" /> 
		from sys_version where type=#{type} order by create_date desc limit 0,1
	</select>
	
</mapper>