<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.nlf.mapper.UpruleMapper">
	<sql id="Base_Column_List">
		id,ticket_id1,ticket_id2,ticket_id3
	</sql>
	
	<insert id="add" parameterType="com.cocosh.nlf.model.Uprule">
		insert into nlf_uprule(id,ticket_id1,ticket_id2,ticket_id3)
		values(#{id},#{ticket_id1},#{ticket_id2},#{ticket_id3})
	</insert>
	
	<delete id="del">
		delete from nlf_uprule where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</delete>
	
	<update id="update" parameterType="com.cocosh.nlf.model.Uprule">
		update nlf_uprule 
		<set>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(ticket_id1)">ticket_id1=#{ticket_id1},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(ticket_id2)">ticket_id2=#{ticket_id2},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(ticket_id3)">ticket_id3=#{ticket_id3},</if>
		</set> 
		 where id=#{id}
	</update>
	
	<select id="queryPage" parameterType="vo" resultType="com.cocosh.nlf.model.Uprule">
		select 
		<include refid="Base_Column_List" /> 
		from nlf_uprule 
		<where>
			<if test="keywords!=null and keywords!=''">name like '%${keywords}%'</if>
		</where>
		<choose>
			<when test="orderField !=null and orderField !=''">
				 order by ${orderField} 
				 <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by create_date desc 
			</otherwise>
		</choose>
	</select>
	
	<select id="queryById" parameterType="String" resultType="com.cocosh.nlf.model.Uprule">
		select 
		<include refid="Base_Column_List" /> 
		from nlf_uprule where id=#{id}
	</select>
	
	<select id="queryone" parameterType="String" resultType="com.cocosh.nlf.model.Uprule">
		select 
		<include refid="Base_Column_List" /> 
		from nlf_uprule limit 0,1
	</select>
	
	<select id="queryticket_id2"  resultType="String">
		select  ticket_id2  from nlf_uprule limit 0,1
	</select>
	
</mapper>