<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cocosh.nlf.mapper.UserScoreInfoMapper">
	<sql id="Base_Column_List">
		user_number,BKZ_SCORE,KZ_SCORE,KD_SCORE,ATTRIBUTE1,ATTRIBUTE2,ATTRIBUTE3,ATTRIBUTE4,ATTRIBUTE5,last_update_date
	</sql>
	
	<insert id="add" parameterType="com.cocosh.nlf.model.UserScoreInfo">
		insert into nlf_emp_score(user_number,BKZ_SCORE,KZ_SCORE,KD_SCORE,ATTRIBUTE1,ATTRIBUTE2,ATTRIBUTE3,ATTRIBUTE4,ATTRIBUTE5,last_update_date)
		values(#{user_number},#{BKZ_SCORE},#{KZ_SCORE},#{KD_SCORE},#{ATTRIBUTE1},#{ATTRIBUTE2},#{ATTRIBUTE3},#{ATTRIBUTE4},#{ATTRIBUTE5},#{last_update_date})
	</insert>
	
	<delete id="del">
		delete from nlf_emp_score where id in 
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
			#{item}
		</foreach> 
	</delete>
	
	<update id="update" parameterType="com.cocosh.nlf.model.UserScoreInfo">
		update nlf_emp_score 
		<set>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(BKZ_SCORE)">BKZ_SCORE=#{BKZ_SCORE},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(KZ_SCORE)">KZ_SCORE=#{KZ_SCORE},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(KD_SCORE)">KD_SCORE=#{KD_SCORE},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(ATTRIBUTE1)">ATTRIBUTE1=#{ATTRIBUTE1},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(ATTRIBUTE2)">ATTRIBUTE2=#{ATTRIBUTE2},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(ATTRIBUTE3)">ATTRIBUTE3=#{ATTRIBUTE3},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(ATTRIBUTE4)">ATTRIBUTE4=#{ATTRIBUTE4},</if>
			<if test="@com.cocosh.framework.util.OgnlUtils@isNotNull(ATTRIBUTE5)">ATTRIBUTE5=#{ATTRIBUTE5},</if>
		</set> 
		,last_update_date=now() where user_number=#{user_number}
	</update>
	
	<select id="queryPage" parameterType="vo" resultType="com.cocosh.nlf.model.UserScoreInfo">
		select sys_user.username user_name,sys_user.depart_id,d.name depart_name,
		<include refid="Base_Column_List" /> 
		from nlf_emp_score 
		, sys_user   ,sys_depart d 
		<where>  nlf_emp_score.user_number = sys_user.number and sys_user.depart_id = d.id 
			<if test="keywords!=null and keywords!=''">
				and (sys_user.username like '%${keywords}%' or nlf_emp_score.user_number like '%${keywords}%') 
			</if>
			<if test="depart_id!=null and depart_id!=''">
				and sys_user.depart_id = #{depart_id}
			</if>
			and (
				exists (
					select 1 from sys_user su where su.number =  nlf_emp_score.user_number and su.id = #{operat_id}
				)
				or
				nlf_emp_score.user_number  in (
						select su2.number from sys_user su2 ,sys_user_depart ud where su2.depart_id = ud.depart_id and ud.user_id = #{operat_id}
					)
				)
		</where>
		<choose>
			<when test="orderField !=null and orderField !=''">
				 order by ${orderField} 
				 <if test="orderDirection != null and orderDirection != ''">${orderDirection}</if>
			</when>
			<otherwise>
				 order by last_update_date desc 
			</otherwise>
		</choose>
	</select>
	
	<select id="queryByUser" parameterType="String" resultType="com.cocosh.nlf.model.UserScoreInfo">
		select 
		<include refid="Base_Column_List" /> 
		from nlf_emp_score where user_number= (select number from  sys_user u where u.id = #{userid})
		
	</select>
	
	<select id="queryList" resultType="com.cocosh.nlf.model.UserScoreInfo">
		select
		<include refid="Base_Column_List" />
		from nlf_emp_score
		<where>
			<if test="user_number != null and user_number != ''">and user_number=#{user_number}</if>
		</where>
	</select>
	
	<select id="getDispatchGrade" parameterType="String" resultType="Integer">
		SELECT t.dispacth_grade from sys_user t where number = #{user_number}
	</select>
	
	<select id="getDepart1grade" parameterType="String" resultType="String">
		select number from sys_user where depart_id =#{depart_id}  and dispacth_grade = 1
	</select>
	
	<select id="getDeptPerformce" parameterType="String" resultType="Integer">
		SELECT
			CASE
				WHEN d.performance_ind = 1 THEN
					d.performance_ind
				ELSE
					d_refer.performance_ind
			END 
		FROM
			sys_user u,
			sys_depart d,
			sys_user u_refer,
			sys_depart d_refer
		WHERE
			u.number = #{user_number}
		AND u.depart_id = d.id
		AND u.refer_number = u_refer.number
		AND u_refer.depart_id = d_refer.id
	</select>
	
	<select id="orderPayByscore" parameterType="java.util.Map" resultType="String">
		select nlf_paybyscore(#{params.user_id},#{params.order_no},#{params.kz_score},#{params.kd_score}) from dual
	</select>
	
	<select id="orderRet" parameterType="java.util.Map" resultType="String">
		select nlf_orderretscore(#{params.order_id},#{params.order_no},#{params.user_number},#{params.return_point},#{params.return_kzpoint}) from dual
	</select>
	
</mapper>